<h1>All Listings</h1>

<% if @listings.empty? %>
  <p>No listings added yet.</p>
<% else %>
  <ul>
  <% @listings.each do |listing| %>
    <li>
    <%= listing.title %>
    </li>
  <% end %>
  </ul>
<% end %>

