
<div class="container all-desks">
  <div class="all-desks-heading pb-4">
    <h4 class="text-center">View All of Our Desks</h4>
  </div>
  <div class="cards rounded card-img-top">
  <% @listings.each do |listing| %>
    <div class="card text-center" style="width: 19rem;">
      <%= link_to listing_path(listing) do %>
        <%= cl_image_tag listing.photos[0].key, width: 302, height: 200, crop: :fill %>
          <div class="card-body">
            <h5 class="card-title"><%= listing.title.capitalize %> </h5>
            <p>£<%= listing.rate %></p>
           </div>
      <% end %>
    </div>
  <% end %>
</div>
