.all-desks {
  margin-top: 130px;
}

.all-desks-heading {
  margin-bottom: 16px;
}

.single-listing {
  width: 400px;
  margin: 0 auto;
  padding-top: 35px;
}
 .booking-btn-centre {
    margin-top: 25px;

 }
