.all-desks {
  margin-top: 130px;
}

.all-desks-heading {
  margin-bottom: 16px;
}

.single-listing {
  width: 400px;
  margin: 0 auto;
  padding-top: 35px;
}
 .booking-btn-centre {
    margin-top: 25px;

 }

.main-container {
  display: flex;
}

#map {
  height: 100vh;
}

.cards-map {
  // flex-grow: 1;
  width: 50%;
}

#map {
  height: 100vh;
  position: sticky;
  top: 0;
}

.map-container {
  width: 50%;
}
