.all-desks {
  margin-top: 130px;
}

.all-desks-heading {
  margin-bottom: 16px;
}

.single-listing {
  width: 400px;
  margin: 0 auto;
  padding-top: 35px;
}
 .booking-btn-centre {
    margin-top: 25px;

 }

.main-container {
  display: flex;
  justify-content: space-between;
}

.map-container {
  flex: 0 0 400px;
  padding-left: 16px;
  #map {
    position: sticky;
    top: 0;
  }
}

.index-cards {
  flex: 1;
}

.cards-map {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}
