
<!-- main section -->

<section class="container-fluid px-0">
  <div class="row text-center align-items-center">
    <div class="col-lg-6">
      <div class="d-none d-lg-block main-text">
         <h1>A Workspace Near You</h1>
         <p class="text-center lead">Find the perfect workspace nearby and access unique and stylish work environments to suit your needs</p>
         <%= link_to 'See Listings', listings_path, class: 'btn sign-up mt-2' %>
      </div>
    </div>
    <div class="col-lg-6">
      <img class="img-fluid" src="https://images.unsplash.com/photo-1595846723416-99a641e1231a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80" alt="home office">
    </div>
  </div>
</section>

<!-- Testimonials -->

<div class="testimonials">
    <img class="company-icon" src="https://pbs.twimg.com/profile_images/1096066608034918401/m8wnTWsX.png" alt="">
    <img class="company-icon" src="https://d1yjjnpx0p53s8.cloudfront.net/styles/logo-thumbnail/s3/0013/6726/brand.gif?itok=XqdMwgNU" alt="">
    <span class="company-text">AS SEEN IN</span>
    <img class="company-icon" src="https://mountaincafe-aviemore.co.uk/wp-content/uploads/2017/11/The-guardian-logo.png" alt="">
    <img class="company-icon" src="https://logos-download.com/wp-content/uploads/2016/06/GQ_logo.png" alt="">
</div>


<!-- Listing Section -->


<div class="container best-desks">
  <div class="favourite-desks pb-4">
    <h4 class="text-center">View Our Favourite Desks</h4>
  </div>
  <div class="cards  card-img-top">
  <% @listings.last(6).each do |listing| %>
    <div class="card text-center" style="width: 19rem;">
      <%= link_to listing_path(listing) do %>
      <%= cl_image_tag listing.photos[0].key, width: 302, height: 200, crop: :fill %>
        <div class="card-body">
          <h5 class="card-title"><%= listing.title.capitalize %> </h5>
         </div>
      <% end %>
    </div>
  <% end %>
</div>
