.img-card {
  max-height: 160px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 45px;
}

.booking-new-card {
  overflow: hidden;
  height: 270px;
  width: 700px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
}

.booking-new-card img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.booking-new-card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.booking-new-card p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.booking-new-card .booking-new-infos {
  padding: 16px;
}


.back-button {
  padding: 8px;
  margin: 10px;
}

.back-button:hover {
  text-decoration: none;
  color: black;
}

.card  {
  border-radius: 10px;

  a {
    text-decoration: none;
  }

  :hover {
    color: grey;
    transition-delay: 0.10;
  }
}

img.listing-card-image {
    height: 200px;
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}
